<!DOCTYPE html>
<html lang="de" ng-app="details" ng-controller="detailCtrl">
<head>
    <meta charset="UTF-8">
    <title>SoftwareServiceHWR - {{appli.name}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/ownStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/addHeaderFooter.js"></script>
    <script src="/js/header.js"></script>
</head>
<div id="header"></div>
<body>
<div class="jumbotron jumbotronOuer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{appli.name}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div id="thumb" class="thumbnail" data-toggle="modal" data-target="#myModal">
                <img class="img-responsive" src="{{appli.logo}}">
                <div id="underThumb" class="caption">
                    <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                    Screenshots
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="download in appli.download"><a
                        href="{{'download\\' + appli.name + '\\' + download}}">Download</a></li>
                <li class="list-group-item" ng-repeat="git in appli.gitHub"><a href="{{git}}" target="_blank">GitHub</a>
                </li>
                <li class="list-group-item" ng-repeat="website in appli.website"><a href="{{website}}" target="_blank">Webseite</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div class="well">
                {{appli.beschreibung}}
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">

                            <div class="item active">
                                <img id="itemLogo" src="{{appli.logo}}" alt="Chania">
                            </div>

                            <div class="item" ng-repeat="screenshot in appli.screenshots">
                                <img id="{{'item' + $index}}" src="{{screenshot}}" alt="Chania">
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left blackArrow" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right blackArrow" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="foo"></div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script>
<script src="/js/details.js"></script>
</body>
</html>